<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <a href="/">Index</a>
        <a href="/register">Register</a>
        <br><br>
        <form action="/login" method="post">
            <label for="email">Email : </label><br>
            <input type="text" name="email" placeholder="test@example.com ..."><br>
            <label for="password">Password : </label><br>
            <input type="password" name="password" placeholder="Password1..."><br>
            <input type="submit">
        </form>
    </body>
</html>
